{% extends 'layouts/main.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    {% if user.total > 0 %}
        <p>Всего пользователей {{ user.total }}</p>
        <table class="table">
            {% for item in user.items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.sex }}</td>
                    <td>{{ item.isBlocked ? "Да" : "Нет" }}</td>
                    <td>{{ item.isActivated ? "Да" : "Нет" }}</td>
                    <td>{{ item.createdAt.format('Y') }}</td>
                    <td>{{ item.isActivated ? "Да" : "Нет" }}</td>
                    <td><a href="">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Пользователей нет</p>
    {% endif %}
{% endblock %}
