{% extends 'layouts/main.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    {% if user.total > 0 %}
        <p>Всего пользователей {{ user.total }} | <a href="{{ path('admin.user.form') }}">Создать нового</a> </p>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Sex</td>
                <td>Blocked</td>
                <td>Activated</td>
                <td>Date of birth</td>
                <td>Actions</td>
            </tr>
            {% for item in user.items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.sex }}</td>
                    <td>{{ item.isBlocked ? "Да" : "Нет" }}</td>
                    <td>{{ item.isActivated ? "Да" : "Нет" }}</td>
                    <td>{{ item.createdAt.format('Y') }}</td>
                    <td><a href="{{ path('admin.user.form', {'id': item.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Пользователей нет</p>
    {% endif %}
{% endblock %}
