{% extends 'layouts/main.html.twig' %}

{% block title %}Trainings list{% endblock %}

{% block body %}
    {% if list.total > 0 %}
        <p>Всего тренировок {{ list.total }} | <a href="{{ path('admin.training.form') }}">Создать</a> </p>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
            {% for item in list.items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.trainerName }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <a href="{{ path('admin.training.show', {'id': item.id}) }}">Show</a> |
                        <a href="{{ path('admin.training.form', {'id': item.id}) }}">Edit</a> |
                        <a href="{{ path('admin.training.remove', {'id': item.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Тренировок нет. <a href="{{ path('admin.training.form') }}">Создать новую</a></p>
    {% endif %}
{% endblock %}
